* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

aside {
    background-color: gray;
    display: flex;
    height: 100vh;
    width: 20%;
}

h1 {
    color: deeppink;
    font-size: 5em;
    margin: 50px 25px 25px 25px;
    text-align: center;
    text-shadow: 4px 4px 4px black;
}

.form_section {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.section_text {
    color: white;
    font-size: 2.5em;
    margin: 40px;
    text-align: center;
    text-shadow: 3px 3px 3px deeppink;
}
